@import 'tailwindcss';
@plugin "daisyui";
.btn{
   background-color: #172554 ;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: o.5rem 1rem;
    color: white;
}
.hover:hover{
border-radius: 30px;
}
